body {
    padding: 20px;
    background-color: #171a23;
    color: #c4c1c0;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 960px;
}

a {
    color: #43b1c6;
    text-decoration: none;
}

a:hover {
    color: #56ad59;
}

h1 {
    font-size: 30px;
    color: #56ad59;
    margin: 18px;
}

h2 {
    font-size: 25px;
    color: #56ad59;
    margin: 18px;
}

h3, h4, h5, h6 {
    font-size: 20px;
    color: #56ad59;
    margin: 18px;
}

li {
    color: #c4c1c0;
}

p {
    padding: 0px;
    margin: 18px;
}

nav a {
    margin: 0px 10px;
}
